@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// ============================================================
//  共通レイアウト
// ============================================================
.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 40px; //サイドバーのかぶり防止
  @include sp { padding: 0 20px; }

  @include lg {
    max-width: 800px;
  }
}
