@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// セクション共通ラベル（英語小見出し）
.section-label {
  font-family: $font-sub;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #0F65A3;

  @include sp {
    font-size: 18px;
    margin-bottom: 0;
  }
}

// セクション共通タイトル
.section-title {
  font-family: $font-ja;
  font-size: 58px;
  font-weight: 700;
  color: #343434;
  margin-bottom: 40px;

  &__en {
    font-family: $font-sub;
    letter-spacing: 0.1em;
    font-size: 64px;

    &__blue {
      color: #0F65A3;
      font-family: $font-sub;
      letter-spacing: 0.1em;

      &.__large {
        font-size: clamp(45px, 11vw, 96px);
        letter-spacing: 0.1em;
      }

      &.__middle {
        font-size: clamp(35px, 11vw, 84px);
      }
    }

    &__white {
      color: #ffffff;
      font-family: $font-sub;
      letter-spacing: 0.1em;

      &.__bold {
        font-weight: 900;
      }

      &.__large {
        font-size: clamp(45px, 11vw, 96px);
      }

      &.__middle {
        font-size: clamp(35px, 11vw, 74px);
      }

      &.__italic {
        font-style: italic;
      }
    }
  }

  &__ruby {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #343434;
    line-height: 1;
    letter-spacing: 0.2rem;
    margin-bottom: -20px;

    &__up {
      margin-top: -20px;
    }

    &__white {  
      color: #ffffff;
    }
  }

  &--inline {
    .section-title__ruby {
      display: inline-block;
      margin-top: 0;
      margin-left: 12px;
      letter-spacing: 0.1em;
      vertical-align: middle;
    }
  }

  // 英語タイトルのとき
  &--en {
    font-family: $font-en;
    font-size: clamp(28px, 4vw, 48px);
    letter-spacing: 0.05em;
  }

  @include sp {
    font-size: 38px;
  }
}
