@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// ============================================================
//  ABOUT SECTION
// ============================================================
.about {
  padding: $section-pad-v 0;
  background: $color-white;

  .section-title {
    margin-top: -20px;
  }

  &__inner {
    max-width: 1046px;
    width: 100%;

    @include lg {
      max-width: 800px;
    }
  }

  &__text {
    width: fit-content;
    margin: 0 auto;
    padding-top: 40px;

    @include sp {
      padding-top: 0;
    }
    
    p {
      font-size: 16px;
      line-height: 38px;
      color: $color-text;
      margin-bottom: 30px;
      font-weight: 700;

      @include sp {
        font-size: 16px;
      }
    }
  }

  &__link {
    margin-top: 80px;
    text-align: right;

    @include sp {
      margin-top: 40px;
      text-align: center;
    }
  }
}
