@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

// ============================================================
//  SERVICE SECTION (WORK FLOW)
// ============================================================
.service {
  padding: $section-pad-v 0;
  background-color: #0F65A3;

  .section-title {
    text-align: left;
  }

  &__lead {
    text-align: left;
    font-size: 18px;
    color: #fff;
    line-height: 2;
    margin-bottom: 60px;
    font-weight: 500;
    margin-top: -60px;

    @include sp { text-align: left; }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-end;
  }

  &__step {
    position: relative;
    display: grid;
    grid-template-columns: 230px 1fr;
    gap: 30px;
    align-items: flex-start;
    background: $color-white;
    border-radius: 30px;
    padding: 30px 0 6px 80px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 1000px;
    @include transition(box-shadow);

    &:hover { box-shadow: 0 6px 32px rgba(0,0,0,0.08); }

    @include lg {
      grid-template-columns: 180px 1fr;
    }
    
    @include tab {
      padding: 20px;
      gap: 20px;
      grid-template-columns: 180px 1fr;
    }

    @include sp {
      grid-template-columns: 1fr;
      padding: 24px;
      gap: 0;
    }

    p {
      font-size: 18px;
      line-height: 2;
      color: $color-text;
      letter-spacing: 0.02em;

      @include lg {
        font-size: 16px;
      }
    }
  }

  &__step-img {
    max-width: 250px;
    width: 100%;

    @include lg {
      max-width: 200px;
    }

    img {
      border-radius: 8px;
      width: 100%;
      height: auto;

      @include tab {
        width: 80%;
      }
    }

    @include tab {
      margin-top: 40px;
    }
  }

  &__step-label {
    position: absolute;
    top: 0;
    left: -140px;

    display: inline-block;
    font-family: "Knewave", cursive;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.1em;

    color: #343434;
    background: #F28E55;

    padding: 10px 22px;
    border-radius: 10px;

    @include lg {
      font-size: 25px;
      left: -40px;
    }

    @include tab {
      font-size: 26px;
      left: 20px;
      top: -20px;
    }

    @include sp {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__step-title {
    font-family: $font-sub;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $color-text;
    line-height: 1.6;
    margin-bottom: 12px;
  }

  &__link {
    text-align: right;
    margin-top: 20px;
  }
}
